<!doctype html>
<html ng-app="app" ng-controller="SettingsCtrl" ng-cloak>
	<head>
		<meta charset="utf-8">
		<title>Settings</title>
		<link rel="stylesheet" href="assets/lib/Materialize/dist/css/materialize.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" ng-href="assets/css/theme/{{settings.layout.theme}}.css">	
	</head>
	<body>
    <div class="navbar-fixed">
      <nav class="theme" ng-class="settings.layout.transNavBar ? settings.layout.theme : ''">
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Settings</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#general">General</a></li>
            <li><a href="#catalogue">Catalogue</a></li>
            <li><a href="#task">Tasks</a></li>
            <li><a href="#layout">Layout</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#general">General</a></li>
            <li><a href="#catalogue">Catalogue</a></li>
            <li><a href="#task">Tasks</a></li>
            <li><a href="#layout">Layout</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container section">
      <div class="row">
        <div class="col m12 l8">
          <div class="card">
            <div class="card-content">
              <h5 id="general">General</h5>
              <div class="divider"></div>
              <div class="section">
                <div class="row">
                  <div class="col s9 flow-text">
                    Launch <strong>crispy fish</strong> automatically when operating system starts?
                  </div>
                  <div class="col s3 flow-text">
                    <div class="switch row">
                      <label>
                      No
                      <input type="checkbox" ng-model="settings.general.autolaunch">
                      <span class="lever"></span>
                      Yes
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <p class="section flow-text">Here you can set your shortcut key combination to start the launcher immediately.</p>
              <div class="row">
                <div class="input-field col m4 s6">
                  <select ng-model="settings.general.shcut[0]">
                    <option value="" disabled selected>first key</option>
                    <option ng-value="Control" value="Control">Control</option>
                    <option value="Alt">Alt</option>
                    <option value="AltGr">Alt Gr</option>
                    <option value="Shift">Shift</option>
                    <option value="Super">Windows</option>
                    <option value="Control+Alt">Control + Alt</option>
                    <option value="Control+Shift">Control + Shift</option>
                    <option value="Control+Super">Control + Windows</option>   
                  </select>
                  <label>first key</label>
                </div>
                <div class="input-field col m4 s6">
                  <select ng-model="settings.general.shcut[1]">
                    <option value="" disabled selected>second key</option>
                    <option ng-value="Space" value="Space">Space</option>
                    <option value="Tab">Tab</option>
                    <option value="Backspace">Backspace</option>
                    <option value="Delete">Delete</option>
                    <option value="Insert">Insert</option>
                    <option value="Enter">Enter</option>
                    <option value="Escape">Escape</option>
                  </select>
                  <label>second key</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12 l8">
          <div class="card">
            <div class="card-content">
              <h5 id="catalogue">Catalogue</h5>
              <div class="divider"></div>
              <p class="section flow-text">The catalogue is your whole index where all files are listed. You have currently <strong><span ng-show="settings.catalogue.length == 0">no</span><span ng-show="settings.catalogue.length != 0">{{settings.catalogue.length}}</span> files</strong> in your catalogue.</p>
              <p class="section"><a href="" ng-click="showCatalogue()" class="btn waves-effect waves-light light-green">Show Catalogue</a></p>
              <div class="card-panel grey lighten-5 z-depth-1" ng-repeat="folder in settings.folders track by $index">
                <div class="row valign-wrapper">
                  <div class="col s2">
                    <i class="material-icons medium circle">folder</i>
                  </div>
                  <div class="col s9">
                    <strong style="word-break: keep-all;">{{folder.path}}</strong>
                    <br />
                    <input type="checkbox" class="filled-in" id="folder{{$index+1}}" checked="checked" ng-model="folder.dir" />
                    <label for="folder{{$index+1}}">include folders</label>
                    <br />
                    <a ng-click="editExt($index)" ng-hide="folder.ext.length" href="">all file extensions</a>                    
                    <span ng-show="folder.ext.length">
                      <a href="" ng-click="editExt($index)">file extensions</a>
                      <span ng-repeat="ext in folder.ext"><div class="chip">.{{ext}}</div> </span>
                    </span>
                  </div>
                  <div class="col s1">
                    <a href="" ng-click="deleteFolder($index)"><i class="material-icons">delete</i></a>  
                  </div>
                </div>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn light-green" ng-click="addFolder()"><i class="material-icons left">create_new_folder</i>Add Folder</a>          
                <a class="waves-effect waves-light btn light-green" ng-click="refreshCat(true)"><i class="material-icons left">cached</i>Refresh catalogue</a>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col m12 l8">
          <div class="card" id="catalogue">
            <div class="card-content">
              <h5 id="task">Tasks</h5>
              <div class="divider"></div>
              <p class="section flow-text">You can access task manager by typing <strong>task</strong> into command line.</p>
              <div class="row">
                <div class="col s8">
                  <select ng-model="settings.task.sound">
                    <option value="" disabled selected>notification</option>
                    <option ng-repeat="sound in sounds" value="{{sound}}">{{sound}}</option>
                  </select>
                </div>
                <div class="col s4">
                  <a href="" class="waves-effect waves-light btn light-green" ng-click="playSound(settings.task.sound)"><i class="material-icons">volume_up</i></a>                  
                </div>
              </div>
              <div class="row">
                <div class="col s9 flow-text">
                  Do you want to get notified by a notification popup in taskbar?
                </div>
                <div class="col s3 flow-text">
                  <div class="switch row">
                    <label>
                    No
                    <input type="checkbox" ng-model="settings.task.notify">
                    <span class="lever"></span>
                    Yes
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12 l8">
          <div class="card">
            <div class="card-content">
              <h5 id="layout">Layout</h5>
              <div class="divider"></div>
              <div class="row section">
                <div class="col s9 flow-text">Transparent navigation bar?</div>
                <div class="col s3">
                  <div class="switch row flow-text">
                    <label>
                    No
                    <input type="checkbox" ng-model="settings.layout.transNavBar">
                    <span class="lever"></span>
                    Yes
                    </label>
                  </div>
                </div>
              </div>
              <p class="section">Choose theme</p>
              <div class="row">
               <a ng-click="switchTheme('atomic')" data-position="bottom" data-delay="50" data-tooltip="atomic" href="" class="tooltipped btn-flat theme atomic white-text"></a>
               <a ng-click="switchTheme('incent')" data-position="bottom" data-delay="50" data-tooltip="incent" href="" class="tooltipped btn-flat theme incent white-text"></a>
               <a ng-click="switchTheme('embrace')" data-position="bottom" data-delay="50" data-tooltip="embrace" href="" class="tooltipped btn-flat theme embrace white-text"></a>
               <a ng-click="switchTheme('fever')" data-position="bottom" data-delay="50" data-tooltip="fever" href="" class="tooltipped btn-flat theme fever white-text"></a>
               <a ng-click="switchTheme('crispy')" data-position="bottom" data-delay="50" data-tooltip="crispy" href="" class="tooltipped btn-flat theme crispy white-text"></a>
               <a ng-click="switchTheme('darken')" data-position="bottom" data-delay="50" data-tooltip="darken" href="" class="tooltipped btn-flat theme darken white-text"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row section">
        <a href="" class="waves-effect waves-light btn light-green" ng-click="saveSettings()">Save</a>
        <a href="" class="waves-effect waves-light btn light-green darken-3" ng-click="cancelSettings()">Cancel</a>
      </div>
    </div>
    
    <div id="extmodal" class="modal">
      <div class="modal-content">
        <h5>Edit extensions</h5>
        <input type="text" placeholder="Type in your extension name, e. g. exe, lnk, pdf" ng-keypress="($event.which === 13)?addExt(fileext):0" ng-model="fileext" autofocus>
        <span ng-repeat="ext in exts"><div class="chip">.{{ext}}<i class="material-icons" ng-click="deleteExt($index)">close</i></div> </span>
      </div>
      <div class="modal-footer">
        <a href="" class="waves-effect waves-light btn light-green" ng-click="saveExt()">Save</a>
      </div>
    </div>
    
    <div id="askforsave" class="modal">
      <div class="modal-content">
        <h5>Hey,</h5>
        <p class="flow-text">...don't you want to save your settings?</p>
      </div>
      <div class="modal-footer">
        <a href="" class="waves-effect waves-light btn light-green" ng-click="saveSettings()">Yes</a>
        <a href="" class="waves-effect waves-light btn light-green darken-3" ng-click="cancelSettings(true)">No</a>
      </div>
    </div>

    <div id="catmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h5>Catalogue</h5>
        <input type="text" placeholder="search file" ng-model="filefilter" />
        <ul class="collection">
          <li class="collection-item" ng-repeat="cat in settings.catalogue | filter:filefilter">
            <div class="row valign-wrapper">
              <div class="col s1">
                <i ng-show="cat.ext != 'dir'" class="material-icons">insert_drive_file</i>
                <i ng-show="cat.ext == 'dir'" class="material-icons">folder</i>
              </div>
              <div class="col s10">
                {{cat.path}}\{{cat.file}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="" class="waves-effect waves-light btn light-green modal-close">Okay</a>
      </div>
    </div>
    
		<script>window.$ = window.jQuery = require('./assets/lib/jquery/dist/jquery.min.js')</script>
		<script src="assets/lib/hammerjs/hammer.min.js"></script>
		<script src="assets/lib/Materialize/dist/js/materialize.min.js"></script>
		<script src="assets/lib/angular/angular.min.js"></script>
	  <script src="assets/js/services.js"></script>
    <script src="assets/js/settings.js"></script>
	</body>
</html>